html,
body {
    height: 100%;
}

/*image de mon arrière plan, page 1*/
.backgroundImage {
    background-image: url('test.png');
    background-size: cover;
    /*couvre toute la page*/
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*arrière plan de la page 2*/
.back {
    background-color: #333;
    width: 100%;
    position: relative;
    z-index: 1;
}

/*Paillettes*/
.glitter-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Les clics passent au travers */
    z-index: 0;
    /* Derrière le contenu */
    overflow: hidden;
}

.glitter-dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.85;
    animation: glitter 3s infinite ease-in-out;
}

/* Animation des paillettes*/
@keyframes glitter {
    0% {
        opacity: 0.8;
    }

    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.7;
    }
}

/*Police : Prénom et nom, page 1*/
h1 {
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    font-family: "Montserrat Underline", sans-serif;
    font-size: 3rem;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.1);
}

/*encadré blanc, page 1*/
.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255);
    padding: 20px 30px;
    /*pour réduire l'espace des deux côtés*/
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    /*réduit sur les côtés*/
    margin: auto;
    z-index: 1;
}

/*ma photo*/
.photo {
    display: block;
    width: 175px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 0;
    transform: translateX(-50%);
    /*photo reste au centre de la page*/
}

/*texte*/
.banner-text {
    font-family: "Poiret One", sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-style: bold;
    text-align: center;
    max-width: 60%;
    flex: 1;
    margin-top: 11rem;
    padding-left: 2rem;
}

/*paragraphe, page 1 et 2*/
.paragraph {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Cabin", sans-serif;
    z-index: 1;
    font-feature-settings: "ss01";
    font-variant-alternates: styleset(ss01);
    /* Stylistic set 1 on, high-level */
}

/*Boutons de contact ou de projets*/
.boutton {
    display: flex;
    justify-content: center;
    gap: 50px;
    /*espace entre chaque icône*/
    margin-top: 20px;
    flex-wrap: wrap;
    /*pour passer à la ligne*/
}

.boutton a img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.boutton a img:hover {
    transform: scale(1.1);
}

/*Titre du lien : mon portfolio*/
.monPortfolio {
    display: flex;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-family: "Montserrat Underline", sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(252, 232, 251, 0.7);
    padding: 10px 10px;
    width: 100%;
    margin: 1.5rem auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    /*enlèvement du soulignement*/
}

/*Sous-titre pour : Conceptrice et Développeuse d'Applications + Mes projets en groupe*/
.group {
    display: block;
    /* prendre toute la largeur */
    width: 100%;
    text-align: center;
    /* centrer le texte */
    font-size: 2rem;
    font-family: "Poiret One", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 3rem;
    /*espace haut*/
    margin-bottom: 4rem;
    /*espace en bas*/
}

/*Libellule*/
.dragonfly {
    position: absolute;
    bottom: 36rem;
    width: 100px;
    height: auto;
    z-index: 2;
    pointer-events: none;
    left: 65%;
    display: flex;
}

/***************************************************/
/*PAGE 2:: MES PROJETS*/

/*Bouton accueil*/
.homeBtn {
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Poiret One', sans-serif;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    background-color: rgba(252, 232, 251);
    cursor: pointer;
    z-index: 2;
    display: inline-block;
    font-weight: 400;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

/*animation souris*/
.homeBtn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
}

/*Titre : Mes Projets*/
.myProjects {
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    flex: 2;
    font-family: "Montserrat Underline", sans-serif;
    font-size: 3rem;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.1);
}

/*Titre : mes projets personnels*/
.solo {
    font-family: "Poiret One", sans-serif;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/*Entre chaque photo*/
.underPic {
    flex: 1;
    /*pour ajouter de l'espace*/
}

/*titre de mes projets*/
.projectTitle {
    font-family: "Montserrat Underline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(29, 90, 86, 0.9);
    justify-content: center;
    display: flex;
    font-size: 1.45rem;
    margin-bottom: 5rem;
}

/*Alignement de mes projets : centrage*/
.projects {
    display: flex;
    flex-wrap: wrap;
    /*éléments peuvent être affichés sur plusieurs lignes*/
    justify-content: center;
    padding-top: 0;
    padding-bottom: 20px;
}

/*Emplacement de chaque projet*/
.aloneProject,
.groupProject {
    margin: 1rem;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    /*fluidité du hover*/
}

.aloneProject:hover,
.groupProject:hover {
    transform: scale(1.05);
}

/*Police et couleur des liens Github et gitlab de mes projets*/
.aloneProject .links a,
.groupProject .links a {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s;
}

/*effets liens alone et group projects*/
.aloneProject .links a:hover,
.groupProject .links a:hover {
    color: rgb(158, 113, 156);
}

/*Couleurs encadré Projets en autonomie*/
.aloneProject {
    background-color: white;
}

/*Couleurs encadré Projets en groupe*/
.groupProject {
    background-color: rgba(252, 232, 251);
}


/* Ajustement des espaces et disposition des liens*/
.links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Style pour les images dans les projets */
.project-image img {
    max-width: 100%;
    /*Limite la largeur maximale de l'image au conteneur*/
    height: auto;
    object-fit: contain;
    /*image s'ajuste au conteneur sans le déformer*/
    width: 300px;
    /*largeur du conteneur de l'image*/
    height: 200px;
    overflow: hidden;
    /*Cache les parties de l'image qui dépassent*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    /*arrière plan des photos*/
}

/*DESIGN RESPONSIVE : MEDIAS QUERIES*/
@media screen and (max-width: 600px) {
    .project-image img {
        max-width: 80%;
        /* Réduire la taille des images sur les petits écrans */
    }

    .homeBtn {
        margin-bottom: 10px;
        font-size: 1rem;
        padding: 6px 12px;
    }
}